/* App.css */
.container {
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

/* PerfilRescatista Styles */
.perfilRescatista-contenedor {
  padding: 20px;
}

.tabla-mascotas {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla-mascotas th,td {
  border: 1px solid black;
  padding: 8px;
}

.detalle-mascota-contenedor {
  padding: 20px;
}

.detalle-mascota {
  border: 1px solid #000;
  padding: 20px;
  margin-top: 20px;
}

.detalle-mascota p {
  margin: 10px 0;
}

.grupo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.btn-volver,
.btn-adoptar,
.btn-guardar,
.btn-inicio {
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.btn-volver {
  background-color: #555;
}

.btn-adoptar {
  background-color: #ff4b4b;
}

.btn-guardar {
  background-color: #4caf50;
}

.btn-inicio {
  background-color: #007bff;
}

.btn-volver:hover,
.btn-adoptar:hover,
.btn-guardar:hover,
.btn-inicio:hover {
  opacity: 0.8;
}
